<br />
<h4>Households</h4>
<mat-card>
  <mat-select placeholder="Hamlet" [(ngModel)]="selectedHamletId" 
      name="hamlet" (selectionChange) = "onSelectChange($event)">
    <mat-option *ngFor="let hamlet of hamlets" [value]="hamlet.id">
      {{hamlet.name}}
    </mat-option>
  </mat-select>
</mat-card>

<mat-list *ngIf="!loading && display_households.length > 0">
  <mat-list-item *ngFor="let household of display_households">
    <div class="wrapper">
      <div>
          <img class="avatar" src="{{household.photo}}" alt="{{household.house_number}}">
      </div>
      <div class="text">
          <span mat-line>House No: {{ household.household_number }}</span>
          <span mat-line>Phone: {{ household.phone }}</span>
          <span mat-line>Members: {{ household.number_of_hh_member }}</span>
          <em mat-line>Status: {{ household.current_status ? 'Active' : 'Inactive' }} </em>
      </div>
    </div>
  
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onEdit(household)">
        <mat-icon>edit</mat-icon> Edit 
      </button>
      <button mat-menu-item (click)="onDelete(household)">
        <mat-icon>delete</mat-icon> Delete 
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item >
        <mat-icon>person</mat-icon> Detail 
      </button>
    </mat-menu>     
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
    <mat-divider></mat-divider> 
  </mat-list-item>
</mat-list>
  
<mat-card *ngIf="!loading && display_households.length === 0">
  <strong>{{ message }}</strong>
</mat-card>
  
<mat-card *ngIf="loading">
  <strong>Loading: please wait...</strong>
</mat-card>
  
<button mat-fab (click)="onAdd()" color="primary" class="add-button">
  <mat-icon>add</mat-icon>
</button>
  
<mat-paginator
  *ngIf="display_households.length > 0"
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageEvent($event)">
</mat-paginator>