<mat-sidenav-container fullScreen>
  <mat-sidenav #sidenav mode="over">
      <mat-nav-list>
        <mat-list-item><a routerLink="/hamlets" (click)="sidenav.close()">Hamlet</a></mat-list-item>
        <mat-list-item><a routerLink="/households" (click)="sidenav.close()">Households</a></mat-list-item>
        <mat-list-item><a routerLink="/anc-list" (click)="sidenav.close()">Anc</a></mat-list-item>
      </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
      <mat-toolbar color="primary">
          <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
          <span class="toolbar-container"><ng-template #toolbarContainer></ng-template></span>

      </mat-toolbar>
      <div class="main-content">
          <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
