<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        ANC Visit History
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-nav-list >
      <h3 mat-subheader>Completed Visits</h3>
      <mat-list-item *ngFor="let ancVisit of visits">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{ancVisit.name}}</h4>
        <p mat-line> On {{ancVisit.date}} </p>
        <button mat-icon-button (click)="showInfo(ancVisit)">
          <mat-icon>info</mat-icon>
        </button>
        <button mat-icon-button (click)="edit(ancVisit)">
          <mat-icon>info</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Upcoming Visits</h3>
      <mat-list-item *ngFor="let ancAlert of alerts">
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>{{ancAlert.name}}</h4>
        <p mat-line> {{ancAlert.date }} </p>
      </mat-list-item>
    </mat-nav-list>

    <mat-action-row>
      <button mat-button color="primary" (click)="newVisit()">New ANC Visit</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Destination
      </mat-panel-title>
      <mat-panel-description>
        Type the country name
        <mat-icon>map</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>



    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day of the trip
      </mat-panel-title>
      <mat-panel-description>
        Inform the date you wish to travel
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>



    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
